body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(image.6f66cc6e0e6e72ba7d32.jpg); /* Arka plan resmi yolu */
    background-size: contain; /* Resmi ekran boyutuna göre sığdır */
    background-repeat: no-repeat; /* Resmin tekrar etmesini engelle */
    background-position: center center; /* Resmi ortala */
    cursor: url('icons8-minecraft-sword-48.png') ,auto; /* Özel imleç */
    background-color: rgb(24 24 24 );
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-variation-settings: normal;
    line-height: 1.5;
    tab-size: 4;

}


.container {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

.container h1 {
    color: white;
    font-style: oblique;
}

